* { padding: 0; margin: 0; font-family: 'Roboto', sans-serif;}

p {font-size: 16px;}
li{list-style: none;}

section {padding: 0.5rem 0;overflow: hidden;}
section p{font-family: 'Roboto', sans-serif;font-size:1.1rem; line-height: 2rem; color: #7e7e7e;}

header{background: #0c4d90; padding: 10px;}
.head-top{justify-content: flex-end;}
.head-top a{font-size: 14px; color: white; padding: 0 0 0 20px;}
.dropdown-menu{padding: 0!important;}
.dropdown-item{padding: .25rem .5rem!important; color: #212529!important;border-bottom: 1px solid #ccc;}

/* Top icons css start */
.dropdown-toggle::before{content: "";background-image: url(../images/eng-icon.jpg);display: inline-block;width: 26px; height: 16px;    margin: 0 6px 2px 0;  vertical-align: middle;}


.navbar{background-color: #EBF0FE;}
.navbar-nav{margin-right: 18px;}
.navbar-nav .nav-item{padding-top: 4px;}
.navbar-nav .nav-item a{color: #fff; font-size: 15px;}
.navbar-nav .nav-item a:hover{color:#fff;}
.navbar-toggler-icon{color: #7e7e7e; font-size: 22px;display: contents;}
.navbar-brand{padding-bottom: 0px!important; margin-right: 2rem; padding-top: .2rem;}
.navbar-brand img{padding-bottom: 5px; width: 60%;}

.navbar-collapse{line-height: normal;}
.navbar-expand-lg .navbar-collapse{justify-content: end;}
.overlay .closebtn{font-size: 35px!important;}

.nav-dark-blue{background-color: #2b4058; }
.button-slanted { -ms-transform: skewX(-20deg); -webkit-transform: skewX(-20deg); transform: skewX(-20deg); }
.navbar-nav li { -ms-transform: skewX(20deg); -webkit-transform: skewX(20deg);  transform: skewX(20deg);  display: inline-block;}
/* .nav-dark-blue::before{content: ""; width: 0; height: 0; border-top: 55px solid transparent;	border-right: 20px solid #023047;	border-bottom: 0px solid transparent; margin-left: -20px;}
.nav-dark-blue::after{content: ""; width: 0; height: 0; border-top: 0px solid transparent; border-left: 20px solid #023047; border-bottom: 55px solid transparent; margin-right: -20px;} */

.nav-navi-blue{background-color: #58508D;}
/* .nav-navi-blue::before{content: ""; width: 0; height: 0; border-top: 55px solid transparent;	border-right: 20px solid #58508D;	border-bottom: 0px solid transparent; margin-left: -20px;} */
.nav-navi-blue::after{content: ""; width: 0; height: 0; border-style: solid; border-color: transparent transparent #58508D transparent; border-width: 0px 0 43px 16px;-ms-transform: skewX(20deg); -webkit-transform: skewX(20deg);  transform: skewX(20deg); margin-right: -8px;}

.sign-out{background-color: #219EBC;}
/* .sign-out::before{content: ""; width: 0; height: 0; border-top: 55px solid transparent;	border-right: 20px solid #219EBC;	border-bottom: 0px solid transparent; margin-left: -20px;} */

.devide-line{color: white; padding: 5px 3px 0;  font-size: 25px;}

/* sub navigation */
.sub-nav{background-color: #d8dcdf; display: flex; margin-top: 5px; height: 60px; justify-content: space-between;}
.sub-nav p{font-size: 20px; color: #fff; vertical-align: middle; font-weight: bold; float: left; padding: 10px;}
.sub-nav #groupsvm{float: right; font-size: 16px; color: #58508D; padding: 4px 10px; border-radius: 7px; margin: 9px 15px 0 0; background: #CDE3EE; border: solid 2px #fff;}



/* user profile */
.userdrop {position: absolute; top: calc(100% + 13px); right: 16px; width: 160px; min-height: 100px; background: #778697; box-shadow: 0 10px 20px rgba(0, 0, 0, .2); opacity: 0; transform: translateY(-10px); visibility: hidden; transition: 300ms; z-index: 99; color: white;}

.userdrop::before { content: ''; position: absolute; top: -10px; right: 14px; width: 20px; height: 20px; background: #778697; transform: rotate(45deg); z-index: -1;}

.userdrop.active { opacity: 1; transform: translateY(0); visibility: visible;}
g
/* menu links */

.userdrop ul { position: relative; display: flex; flex-direction: column; z-index: 10; background: #DAE4FF;}
.userdrop ul li { list-style: none;border-bottom: 1px solid #ccc;}
.userdrop ul li:hover { background: #eee;}
.userdrop ul li a { text-decoration: none; color: white; display: flex; align-items: center; padding: 10px; }
.userdrop ul li a:hover { color: #778697; }
.userdrop ul li a i { font-size: 1.2em;}

.block-one{display: table;    width: 100%;}
.block-one .left-line{width: 10px; background-color: #FFC301; display: table-cell;}
.block-one .block-right{background-color: #FFF2CA; box-shadow:4px 4px 6px rgba(255, 195, 1, 0.3); border: solid 1px #fff; margin-left: 7px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.block-one .block-right .title{background-color: #FFC301; color: #fff; font-size: 14px; font-weight: 400; text-align: center; padding: 5px 0; padding:5px 10px; border-top-right-radius: 10px;}
.block-one .block-right .title b{font-weight: bold; font-size: 16px; color: #D5FF00;}
.block-one .block-right .pie-chart{padding: 30px 50px; text-align: center;}


.block-two{display: table; margin-top: 15px;    width: 100%;}
.block-two .left-line{width: 10px; background-color: #FF5733; display: table-cell;}
.block-two .block-right{background-color:#FFE9E4; box-shadow:4px 4px 6px rgba(255, 87, 51, 0.2); border: solid 1px #fff; margin-left: 7px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.block-two .block-right .title{background-color: #FF5733; color: #fff; font-size: 14px; font-weight: 400; text-align: center; padding: 5px 0; padding:5px 10px; border-top-right-radius: 10px;}
.block-two .block-right .title b{font-weight: bold; font-size: 16px; color: #D5FF00;}
.block-two .block-right .pie-chart{padding: 30px 50px; text-align: center;}


.block-three{display: table; margin-top: 15px;    width: 100%;}
.block-three .left-line{width: 10px; background-color: #C70039; display: table-cell;}
.block-three .block-right{background-color: #FFD5E1; box-shadow:4px 4px 6px rgba(199, 0, 57, 0.2); border: solid 1px #fff; margin-left: 7px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.block-three .block-right .title{background-color: #C70039; color: #fff; font-size: 14px; font-weight: 400; text-align: center; padding: 5px 0; padding:5px 10px; border-top-right-radius: 10px;}
.block-three .block-right .title b{font-weight: bold; font-size: 16px; color: #D5FF00;}
.block-three .block-right .pie-chart{padding: 30px 50px; text-align: center;}

.block-four{display: table; margin-top: 15px;    width: 100%;}
.block-four .left-line{width: 10px; background-color: #910D3F; display: table-cell;}
.block-four .block-right{background-color: #EDB7CB; box-shadow:4px 4px 6px rgba(145, 13, 63, 0.2); border: solid 1px #fff; margin-left: 7px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.block-four .block-right .title{background-color: #910D3F; color: #fff; font-size: 14px; font-weight: 400; text-align: center; padding: 5px 0; padding:5px 10px; border-top-right-radius: 10px;}
.block-four .block-right .title b{font-weight: bold; font-size: 16px; color: #D5FF00;}
.block-four .block-right .pie-chart{padding: 30px 50px; text-align: center;}

.block-five{display: table; margin-top: 15px;    width: 100%;}
.block-five .left-line{width: 10px; background-color: #5A1846; display: table-cell;}
.block-five .block-right{display:flex; flex-direction: row; justify-content: space-between; background-color:#5A1846; box-shadow:4px 4px 6px #d491c0; border: solid 1px #fff; margin-left: 7px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
.block-five .block-right .title{width: 60%; text-align: center;padding: 20px;}
.block-five .block-right .title .number{color: #D5FF00; font-size: 30px; font-weight: bold;}
.block-five .block-right .title .supplier{color: #fff; font-size: 20px; font-weight: bold;}
.block-five .block-right .van{text-align: center; /* background-color: #EED8E7; padding: 20px;*/  margin: 2px 2px 2px 0; border-bottom: 111px solid #EED8E7; border-left: 25px solid transparent; border-right: 0px solid transparent;  border-top-right-radius:10px;  border-bottom-right-radius:10px; width: 40%; height: 100%;} 
.block-five .block-right .van img{display: block; position: absolute;padding: 6%;}   
.right-box{background-color: #FFF3FA; box-shadow:4px 4px 6px rgba(188, 80, 144, 0.2); border: solid 1px #fff;border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.right-box .title{background-color: #BC5090; color: #fff; font-size: 18px; font-weight: 500; text-align: center; padding: 5px 0; padding:5px 10px; border-top-right-radius: 10px; border-top-left-radius: 10px;}
.right-box ul{padding: 20px; margin: 0;}
.right-box ul li{list-style: none; padding-bottom: 10px; padding-left: 20px;font-size: 16px; color: #888888;}
.right-box ul li b{font-size: 15px; color: #BC5090; font-weight: bold;}
.right-box ul li::before{content: ""; background-image: url(../images/arrow_icon.svg); height: 10px;  width: 12px; display: inline-block;  background-repeat: no-repeat; padding-right: 20px; margin-left: -20px;}

.right-box .center-content {margin: 0; padding: 20px 7px; text-align: center;}
.right-box .center-content .chart{width: 100%;}
.right-box .index ul{margin: 10px 0 0 0; padding: 0; display: block; text-align: left;}
.right-box .index ul li{margin: 0; padding: 0; font-size: 10px; color: #888888; list-style: none; width:24%; display: inline-block; text-align: left;}
.right-box .index ul li::before{content: none!important;}


.col-container { display: table; width: 100%;}
.col {display: table-cell; padding: 16px;}


.overlay .closebtn { position: absolute; top: 20px; right: 45px; font-size: 60px;display: none;  } 
/* release section start */


.filter-bar{width: 130px; display: inline-block; vertical-align: top;}
.left-box-sm{background-color: #244B98;height: 60px;width: 20px;display: inline-block;position: absolute;z-index: 9;}
.filter-bg{background-color: #244B98;font-size: 20px;color: white;font-weight: 400;padding: 15px;display: inline-block;position: relative;left: 9px; border-right: solid 5px #4286A7;}
.sub-nav #release{font-size: 12px; color: #58508D; padding: 3px 7px; background:none; border-bottom: solid 1px #58508D;display: inline; border-left: none; border-top: none; border-right: none;}
.sub-nav #status{font-size: 12px; color: #58508D; padding: 3px 7px; background:none; border-bottom: solid 1px #58508D;display: inline; border-left: none; border-top: none; border-right: none;}
.sub-nav .calendar{display: inline-block; position: relative;}
.sub-nav .calendar span{font-size: 16px; color: #023047; vertical-align: middle;}
.sub-nav .calendar label{display: block; margin-top: 4px; font-size: 14px; margin-bottom: 0;}
/* .sub-nav .calendar input::before{content: " "; background-image: url(../images/calendar.svg); background-repeat: no-repeat; background-position:left; position: absolute; left: 0; top: 0; z-index: 1; width: 15px; height: 15px;} */
.sub-nav .calendar img{width: 15px;}
.sub-nav .dropdn {display: inline-block; }
.sub-nav .dropdn label{display: block; margin-top: 4px; font-size: 14px; margin-bottom: 0;}
.sub-nav .dropdn select option{padding: 7px;}
/* .sub-nav .dropdn span{font-size: 16px; color: #023047; vertical-align: middle;} */

.button-slanted { -ms-transform: skewX(-20deg); -webkit-transform: skewX(-20deg); transform: skewX(-20deg); }
.button-slanted-content { -ms-transform: skewX(20deg); -webkit-transform: skewX(20deg);  transform: skewX(20deg);  display: inline-block;}

.search {/* width: 100%; */ position: relative; display: inline; margin-top: 14px; float: right;} 
.search1 {margin-top: 14px;} 
.searchTerm {/* width: 100%; */ border: 2px solid white; padding: 5px; height: 32px;
outline: none; color:#58508D; background:none; font-size: 14px; border-bottom: solid 1px #58508D;display: inline; border-left: none; border-top: none; border-right: none;}

.cal-date {width:65%;  border-bottom: 1px solid #58508C; border-left: none; border-top: none;border-right: none; padding: 5px; height: 24px; outline: none; color:#58508C;  font-size: 12px; background:none ;}
.cal-date::before{content: " "; background-image: url(../images/calendar.svg); background-repeat: no-repeat; background-position:left; position: absolute; left: 0; top: 0; z-index: 1; width: 15px; height: 15px;}

.searchTerm:focus{ color: #58508C; }

.searchButton { background-color: #244B98; padding: 5px 10px; border: 1px solid white; border-top-left-radius: 10px; border-top-right-radius: 2px; border-bottom-right-radius: 10px; border-bottom-left-radius: 2px; color: white; font-weight: 400; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); font-size: 14px; }
.searchButton:hover{background-color: #8dbaf9;}

.reset{display: inline; background-color: #646569; color: white; font-size: 14px; padding: 5px 10px; border: 2px solid white;  border-top-left-radius: 10px; border-top-right-radius: 2px; border-bottom-right-radius: 10px; border-bottom-left-radius: 2px; float:right; margin: 14px 20px 0 15px;}
.reset:hover{background-color: #d8dcdf; color: #646569;}

.page-title{font-size: 20px; color: #455286; font-weight: bold; float: left; margin-left: 20px;}
.page-title1{font-size: 20px; color: #455286; font-weight: bold; margin: 10px 0;}

#pagination { margin: 0 20px 0 0;  padding: 0; text-align: center; float: right; }
#pagination li { display: inline }
#pagination li a { display: inline-block; text-decoration: none;  padding: 5px 13px; color: #000 } 
/* Active and Hoverable Pagination */
#pagination li a { border-radius: 20px; -webkit-transition: background-color 0.3s; transition: background-color 0.3s }
#pagination li a.active { background-color: #0875E1; color: #fff; border-radius: 20px; }
#pagination li a:hover:not(.active) { background-color: #ddd; }

.table-wrap{margin: 0 1rem!important;}
.table-title{width: 100%; z-index: 99;}
.table-title ul{background-color: #244B98; border-top-right-radius: 10px; border-top-left-radius: 10px; padding:0 10px; color: white; font-size: 14px; margin-bottom: 1px; z-index: 99;}
.table-title ul li{list-style: none; display: inline-block; padding:10px 3px;}
.table-title .br-r{border-right: 1px solid white;}
.table-title .li-1{width: 5%;}
.table-title .li-2{width: 18%;}
.table-title .li-3{width: 8%;}
.table-title .li-4{width: 15%;}
.table-title .li-5{width: 7%;}
.table-title .li-6{width: 7%;}
.table-title .li-7{width: 15%;}
.table-title .li-8{width: 16%;}
.table-title .li-9{width: 7%;}


.gitlab-table-title{width: 100%; z-index: 99;}
.gitlab-table-title ul{background-color: #244B98; border-top-right-radius: 10px; border-top-left-radius: 10px; padding:0 10px; color: white; font-size: 14px; margin-bottom: 1px; z-index: 99;}
.gitlab-table-title ul li{list-style: none; display: inline-block; padding:10px 3px;}
.gitlab-table-title .br-r{border-right: 1px solid white;}
.gitlab-table-title .li-1{width: 2%;}
.gitlab-table-title .li-2{width: 18%;}
.gitlab-table-title .li-3{width: 6%;}
.gitlab-table-title .li-4{width: 15%;}
.gitlab-table-title .li-5{width: 7%;}
.gitlab-table-title .li-6{width: 11%;}
.gitlab-table-title .li-7{width: 13%;}
.gitlab-table-title .li-8{width: 10%;}
.gitlab-table-title .li-9{width: 10%;}
.gitlab-table-title .li-10{width: 5%;}


.master-data-table{width: 100%; z-index: 99;}
.master-data-table ul{background-color: #244B98; border-top-right-radius: 10px; border-top-left-radius: 10px; padding:0 10px; color: white; font-size: 14px; margin-bottom: 1px; z-index: 99;}
.master-data-table ul li{list-style: none; display: inline-block; padding:10px 3px;}
.master-data-table .br-r{border-right: 1px solid white;}
.master-data-table .li-1{width: 5%;}
.master-data-table .li-2{width: 14%;}
.master-data-table .li-3{width: 11%;}
.master-data-table .li-4{width: 8%;}
.master-data-table .li-5{width: 10%;}
.master-data-table .li-6{width: 6%;}
.master-data-table .li-7{width: 14%;}
.master-data-table .li-8{width: 6%;}
.master-data-table .li-9{width: 6%;}
.master-data-table .li-10{width: 8%;}
.master-data-table .li-11{width: 6%;}
.master-data-table .li-12{width: 3%;}

.master-data-table-content{width: 100%;}
.master-data-table-content ul{background-color: #f5f6f8; padding:4px 10px; color: #2f5597; font-size: 14px; margin-bottom: 1px; }
.master-data-table-content ul li{list-style: none; display: inline-block; padding: 5px 3px;}
.master-data-table-content .br-r{border-right: 1px solid white;}
.master-data-table-content .li-1{width: 5%;}
.master-data-table-content .li-2{width: 14%;}
.master-data-table-content .li-3{width: 11%;}
.master-data-table-content .li-4{width: 8%;}
.master-data-table-content .li-5{width: 10%;}
.master-data-table-content .li-6{width: 6%;}
.master-data-table-content .li-7{width: 14%;}
.master-data-table-content .li-8{width: 6%;}
.master-data-table-content .li-9{width: 6%;}
.master-data-table-content .li-10{width: 8%;}
.master-data-table-content .li-11{width: 6%;}
.master-data-table-content .li-12{width: 3%;}

.master-data-table-content-1{width: 100%;}
.master-data-table-content-1 ul{background-color: #BDD8FF; padding:4px 10px; color: #2f5597; font-size: 14px; margin-bottom: 1px; }
.master-data-table-content-1 ul li{list-style: none; display: inline-block; padding: 5px 3px;}
.master-data-table-content-1 .br-r{border-right: 1px solid white;}
.master-data-table-content-1 .li-1{width: 5%;}
.master-data-table-content-1 .li-2{width: 14%;}
.master-data-table-content-1 .li-3{width: 11%;}
.master-data-table-content-1 .li-4{width: 8%;}
.master-data-table-content-1 .li-5{width: 10%;}
.master-data-table-content-1 .li-6{width: 6%;}
.master-data-table-content-1 .li-7{width: 14%;}
.master-data-table-content-1 .li-8{width: 6%;}
.master-data-table-content-1 .li-9{width: 6%;}
.master-data-table-content-1 .li-10{width: 8%;}
.master-data-table-content-1 .li-11{width: 6%;}
.master-data-table-content-1 .li-12{width: 3%;}

.table-title-1{background-color: #244B98; border-top-right-radius: 10px; border-top-left-radius: 10px; padding:10px; color: white; font-size: 14px; margin-bottom: 1px; text-align: center;}


.utilization-table{background-color: #e1e9f5; padding:15px 10px 5px; color: #2f5597; font-size: 14px; margin-bottom: 20px; box-shadow:4px 4px 6px rgba(0, 0, 0, 0.2);}
.utilization-table img{width: 100%; padding: 10px;}
.txt-rt{margin-right: 20px; padding: 10px 0; text-align: right; color: #777777; font-size: 14px;}
.bullet-points ul{display: flex; justify-content: end; margin: 10px auto;}
.bullet-points ul li{display: inline; color: #AAAAAA; margin-left: 30px;}
.bullet-points ul li img{width: auto;}

.table-title-2{background-color: #244B98; border-top-right-radius: 10px; border-top-left-radius: 10px; padding:0 10px; color: white; font-size: 14px; display: flex; justify-content: space-between;}
.table-title-2 .new-filter-right{display: inline-flex; }
.table-title-2 p{padding: 10px 0; font-size: 14px; line-height: normal; margin-bottom: 0; color: white;}
.table-title-2 .new-filter-right ul{display: inline-flex; margin-left: 15px; height: 20px;}
.table-title-2 .new-filter-right ul li{padding: 5px 7px;  margin: 5px; display: inline-table; background-color: #E1E9F5; border-radius: 50%; color: #2F5597;}
.table-title-2 .new-filter-right ul .active{background-color: #64b2f2; color: white;}
.table-title-2 .new-filter{background-color: #67A3C0; font-size: 16px; color: white; font-weight: 400; padding:8px 15px;  display: inline-block; position: relative; }
.testers-utilization-table{ box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);border-top-right-radius: 10px; border-top-left-radius: 10px; margin-bottom: 15px;}
.testers-utilization-table .white-content-area{background-color: white; padding: 15px;}
.testers-utilization-table .title{background-color: #748498; border-top-right-radius: 10px; border-top-left-radius: 10px; padding:5px 10px; color: white; font-size: 14px; text-align: center;}
.testers-utilization-table .title .git-count{display: flex; justify-content: space-between;}
.testers-utilization-table .title .git-count label{margin-bottom: 0;}
input[type=checkbox] + label { display: block; cursor: pointer;}

input[type=checkbox] { display: none; }

input[type=checkbox] + label:before { content: "\2714"; border: 0.1em solid white; border-radius: 0.2em; display: inline-table; width: 15px; height: 15px; padding: 0 0.3em; margin-right: 0.2em; vertical-align: middle; color: transparent; transition: .2s;}

input[type=checkbox] + label:active:before { transform: scale(0);}

input[type=checkbox]:checked + label:before { background-color: #7399FF; border-color: white; color: #fff;}

input[type=checkbox]:disabled + label:before { transform: scale(1); border-color: #aaa;}

input[type=checkbox]:checked:disabled + label:before { transform: scale(1); background-color: #bfb; border-color: #bfb;}

.table-content1{width: 100%;}
.table-content1 ul{background-color: #f5f6f8; padding:0 10px; color: #2f5597; font-size: 14px; margin-bottom: 1px; }
.table-content1 ul li{list-style: none; display: inline-block; padding: 5px 3px;}
.table-content1 .br-r{border-right: 1px solid white;}
.table-content1 .li-1{width: 5%;}
.table-content1 .li-1 a{color: #58508C; text-decoration: underline;}
.table-content1 .li-1 a:hover{text-decoration: none;}
.table-content1 .li-2{width: 18%;}
.table-content1 .li-3{width: 8%;}
.table-content1 .li-4{width: 15%;}
.table-content1 .li-4 button{background-color: #244B98; padding: 5px 10px; border: 1px solid white; border-top-left-radius: 10px; border-top-right-radius: 2px; border-bottom-right-radius: 10px; border-bottom-left-radius: 2px; color: white; font-weight: 400; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);}
.table-content1 .li-4 button:hover{background-color: #8dbaf9;}
.table-content1 .li-4 button:focus{outline: none;}
.table-content1 .li-4 button:{background-color: #768696;}
.table-content1 .li-4 button img{margin-left: 5px;}
/* .table-content1 .li-4 img{float: right; padding: 9px;} */
.table-content1 .li-5{width: 7%;}
.table-content1 .li-6{width: 7%;}
.table-content1 .li-7{width: 15%;}
.table-content1 .li-8{width: 16%;}
.table-content1 .li-9{width: 7%;}
.table-content1 .red{color: #E93936;}
.table-content1 .green{color: #3EDB7B;}

.table-content2{width: 100%;}
.table-content2 ul{background-color: #BDD8FF; padding:0 10px; color: #2f5597; font-size: 14px; margin-bottom: 1px;}
.table-content2 ul li{list-style: none; display: inline-block; padding: 5px 3px;}
.table-content2 .br-r{border-right: 1px solid white;}
.table-content2 .li-1{width: 5%;}
.table-content2 .li-1 a{color: #58508C; text-decoration: underline;}
.table-content2 .li-1 a:hover{text-decoration: none;}
.table-content2 .li-2{width: 18%;}
.table-content2 .li-3{width: 8%;}
.table-content2 .li-4{width: 15%;}
.table-content2 .li-4 button{background-color: #244B98; padding: 5px 10px; border: 1px solid white; border: 1px solid white; border-top-left-radius: 10px; border-top-right-radius: 2px; border-bottom-right-radius: 10px; border-bottom-left-radius: 2px; font-weight: 400; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); color: white;}
.table-content2 .li-4 img{float: right; padding: 9px;}
.table-content2 .li-5{width: 7%;}
.table-content2 .li-6{width: 7%;}
.table-content2 .li-7{width: 15%;}
.table-content2 .li-8{width: 16%;}
.table-content2 .li-9{width: 7%;}
.table-content2 .red{color: #E93936;}
.table-content2 .green{color: #07c451;}

.gitlab-table-content{width: 100%;}
.gitlab-table-content ul{background-color: #d8dcdf; padding:0 10px; color: #2f5597; font-size: 14px; margin-bottom: 1px; }
.gitlab-table-content ul li{list-style: none; display: inline-block; padding: 5px 3px;}
.gitlab-table-content .br-r{border-right: 1px solid white;}
.gitlab-table-content .li-1{width: 2%;}
.gitlab-table-content .li-2{width: 18%;}
.gitlab-table-content .li-3{width: 6%;}
.gitlab-table-content .li-4{width: 15%;}
.gitlab-table-content .li-5{width: 7%;}
.gitlab-table-content .li-6{width: 11%;}
.gitlab-table-content .li-7{width: 13%;}
.gitlab-table-content .li-8{width: 10%;}
.gitlab-table-content .li-9{width: 10%;}
.gitlab-table-content .li-10{width: 5%;}
.gitlab-table-content .red{color: #E93936;}
.gitlab-table-content .green{color: #3EDB7B;}
.gitlab-table-content .yellow{color: #f7973a;}

.gitlab-title{background-color: #d8dcdf; display:flex;}
.gitlab-title p{font-size: 14px; color: #2f5597; left: 30px; display: inline-block; position: relative; top: 9px;}
.gitlab-title .sm-bx{background-color: #244B98; height: 48px; width: 17px; display: inline-block; position: absolute; z-index: 9;}
.gitlab-title .nom{background-color: #244B98; font-size: 20px; color: white; font-weight: bold; padding: 9px 15px; display: inline-block; position: relative; left: 9px;}
.second-ttl{color: #2b4058; font-size: 14px; text-align: left; padding: 10px;}
.gitlab-content{background-color: #d2d7db; padding: 10px; color: #777; font-size: 14px;}
.fl-r{float: right;}


.drop1{margin: 0 auto; width: 99%; padding-bottom: 15px;}
.drop1 .title-bg{background-color: #2c4056; border: 1px solid white; padding: 5px 10px; font-size: 20px; font-weight: bold; color: white; border-top-right-radius: 10px; border-top-left-radius: 10px;}
.drop1 .content-area{background-color: white; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3); padding: 10px; }
.drop1 .content-area .inner-content{border: 1px solid #BBBBBB; border-radius:10px; padding: 10px; display: block;}

.left-head{display: inline-block;}
.right-head{display: inline; float: right; margin-top: 0.5rem; color: #777;}
.left-head span{color: #777; margin-left: 10px;}

.left-head button{background-color: #3Edb7b; padding: 5px 10px; color: white; font-weight: bold; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); border-top-left-radius: 10px; border-top-right-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 10px; border: 1px solid white; font-size: 16px;}

.main-title{font-size: 14px; color: #2c4056; display: block; font-weight: bold; margin-top: 10px;}
.red-band{background-color: #FFD4D4;}
.left-box-red-sm{background-color: #e75253;height: 31px;width:12px; display: inline-block;position: absolute;z-index: 9;}
.compliant-red{background-color: #e75253; font-size: 14px; color: white; display: inline-block; padding: 6px 10px;margin-left: 6px;}
.inner-text{font-size: 14px; color: #e75253; display: inline-block; margin-left: 10px;}

.green-band{background-color: #BFEC9D; position: relative;}
.left-box-green-sm{background-color: #3Edb7b;height: 31px;width:12px; display: inline-block;position: absolute;z-index: 9; left: 0;}
.compliant-green{background-color: #3Edb7b; font-size: 14px; color: white; display: inline-block; padding: 5px 10px;margin-left: 6px;}
.inner-text-green{font-size: 14px; color: #3Edb7b; display: inline-block; margin-left: 10px;}

.first-block-bg{border: 1px solid #bbb; border-top-right-radius: 10px; border-top-left-radius: 10px; padding: 10px; margin-bottom: 10px;}
.first-block-bg .release-title{color: #58508C; font-size: 14px;}
.blue-title-head ul{background-color: #748498; color: white; font-size: 12px; border-top-right-radius: 10px; border-top-left-radius: 10px; padding: 0 10px; margin-bottom: 0;}
.blue-title-head ul li{list-style: none; display: inline-block; padding: 7px 3px;}
.blue-title-head .br-r{border-right: 1px solid white;}
.blue-title-head .li-1{width: 10%;}
.blue-title-head .li-2{width: 18%;}
.blue-title-head .li-3{width: 5%;}
.blue-title-head .li-4{width: 5%;}
.blue-title-head .li-5{width: 18%;}
.blue-title-head .li-6{width: 7%;}
.blue-title-head .li-7{width: 8%;}
.blue-title-head .li-8{width: 27%;}

.blue-title-content {box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);}
.blue-title-content ul{background-color: #f5f6f8; color: #777777; font-size: 12px; padding: 0 10px; margin-bottom: 0;}
.blue-title-content ul li{list-style: none; display: inline-block; padding: 7px 3px; vertical-align: top;}
.blue-title-content .br-r{border-right: 1px solid white;}
.blue-title-content .li-1{width: 10%;}
.blue-title-content .li-2{width: 18%;}
.blue-title-content .li-3{width: 5%;}
.blue-title-content .li-4{width: 5%;}
.blue-title-content .li-5{width: 18%;}
.blue-title-content .li-6{width: 7%;}
.blue-title-content .li-7{width: 8%;}
.blue-title-content .li-8{width: 27%;}
.blue-title-content a{color: #219EBC; text-decoration: underline;}
.blue-title-content a:hover{text-decoration: none;}
.blue-title-content .red{color: #e75253;}


.test-cost-first-block-bg{border: 1px solid #bbb; border-top-right-radius: 10px; border-top-left-radius: 10px; margin-bottom: 10px;}
.test-cost-first-block-bg .release-title{color: #58508C; font-size: 14px;}
.test-cost-blue-title-head ul{background-color: #748498; color: white; font-size: 12px; border-top-right-radius: 10px; border-top-left-radius: 10px; padding: 0 10px; margin-bottom: 0;}
.test-cost-blue-title-head ul li{list-style: none; display: inline-block; padding: 7px 3px; text-align: center;}
.test-cost-blue-title-head .br-r{border-right: 1px solid white;}
.test-cost-blue-title-head .li-1{width: 6%;}
.test-cost-blue-title-head .li-2{width: 16%;}
.test-cost-blue-title-head .li-3{width: 15%;}
.test-cost-blue-title-head .li-4{width: 17%;}
.test-cost-blue-title-head .li-5{width: 18%;}
.test-cost-blue-title-head .li-6{width: 13%;}
.test-cost-blue-title-head .li-7{width: 13%;}

.test-cost-blue-title-content ul{background-color: #ffffff; color: #777777; font-size: 12px; padding: 0 10px; margin-bottom: 0;text-align: center;}
.test-cost-blue-title-content ul li{list-style: none; display: inline-block; padding: 14px 3px; vertical-align: top;}
.test-cost-blue-title-content .br-bw{border-bottom: 1px solid #CCCCCC;}
.test-cost-blue-title-content .br-rw{border-right: 1px solid #CCCCCC;}
.test-cost-blue-title-content .li-1{width: 6%;}
.test-cost-blue-title-content .li-2{width: 16%;}
.test-cost-blue-title-content .li-3{width: 15%;}
.test-cost-blue-title-content .li-4{width: 17%;}
.test-cost-blue-title-content .li-5{width: 18%;}
.test-cost-blue-title-content .li-6{width: 13%;}
.test-cost-blue-title-content .li-7{width: 13%;}
.test-cost-blue-title-content a{color: #219EBC; text-decoration: underline;}
.test-cost-blue-title-content a:hover{text-decoration: none;}
.test-cost-blue-title-content .red{color: #e75253;}

.new-block-bg{border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb; margin-bottom: 10px; padding: 10px;}
.new-blue-title-head ul{background-color: #4E6EA6; color: white; font-size: 12px; border-top-right-radius: 10px; border-top-left-radius: 10px; padding: 0 10px; margin-bottom: 0;}
.new-blue-title-head ul a{color: white; text-decoration: underline;}
.new-blue-title-head ul a:hover{color: white; text-decoration: none;}
.new-blue-title-head .br-r{border-right: 1px solid white;}
.new-blue-title-head ul li{width: 24%;}
.new-blue-title-content ul{background-color: #d8dcdf; color: #777777; font-size: 12px; padding: 0 10px; margin-bottom: 0;}
.new-blue-title-content .br-b{border-bottom: 1px #777 solid;}
.new-blue-title-content ul li{padding: 7px 0; width: 100%; display: flex; justify-content: space-between;}
.new-blue-title-content button{background-color: #3Edb7b; padding: 3px 7px; color: white; font-weight: bold; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); border-radius: 5px; border: 1px solid white; font-size: 12px;}
.new-blue-title-content .red{background-color: #e75253; padding: 3px 7px; color: white; font-weight: bold; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); border-radius: 5px; border: 1px solid white; font-size: 12px;}
.new-blue-title-content .red-txt{color:#e75253 ;}


.blue-title-content .jobs ul{margin: 0; padding: 0;}
.blue-title-content .jobs ul li{margin: 0; padding: 0 10px 0 0;}

.blue-title-content .jobs ul li a{margin: 0; font-size: 12px; border-radius: 5px; display: inline-table; padding: 5px 0; text-decoration: none;}
.blue-title-content .jobs ul li .left-green{background-color: #3Edb7b; display: inline-block; padding: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.blue-title-content .jobs ul li .right-green{background-color: #3Edb7b; display: inline-block; padding: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.blue-title-content .jobs ul li .center-text-green{display: inline-block; padding: 4px; border: 1px solid #3Edb7b; color: #3Edb7b;}
.blue-title-content .jobs ul li .left-red{background-color: #e75253; display: inline-block; padding: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.blue-title-content .jobs ul li .center-text-red{display: inline-block; padding: 4px; border: 1px solid #e75253; color: #e75253;}

.modal-content{border-top-right-radius: 10px;  border-top-left-radius: 10px;}
.modal-header{background-color: #7399FF; border-top-right-radius: 10px;  border-top-left-radius: 10px; padding: 5px 10px; color: white;  text-align: center;}
.modal-header h4{font-size: 14px; line-height: normal}
.modal-dialog{max-width: 98%}
.modal-body{padding: 0}
.popup-table{padding: 15px}
.month-btns{display: flex; justify-content: space-between}
.month-btns > ul{margin: 5px 0 0 15px; padding: 0; display: flex;}
.month-btns > ul li{margin: 0; padding: 0; list-style: none}
.month-btns > ul li a{background: #A9D2E6; font-size: 14px; font-weight: bold; color: white; text-align: center; padding: 5px 10px; border-radius: 5px; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); border: 1px white solid; margin-right: 10px}
.month-btns > ul li a:hover{background-color: #219EBC; text-decoration: none}
.month-btns > ul li .active{background-color: #219EBC; text-decoration: none}

/* tooltip */
@use postcss-cssnext;

[data-tooltip] { position: relative;  &::before, &::after {   opacity: 0;   visbility: hidden;   margin-top: -0.5em; }  &::before {   content: attr(data-tooltip);   display: block;   position: absolute;   bottom: 37px;   left: 0%;   margin-left: -5.5em;   width: 12em;   text-align: center;   border-radius: 4px;   background: #ffd4d4;   color: #e75253;   font-size: 12px;   line-height: 1.1;   padding: 5px;   border: 1px solid #e75253; }  &::after {   content: "";   border: 10px solid transparent;   border-top-color: #e75253;   position: absolute;   top: -3px;   left: 50%;   margin-left: -10px; }  /* &:hover {   cursor: help; } */  &:hover::before, &:hover::after {   opacity: 1;   visiblity: visible; }
}



details[open] summary ~ * { animation: open 0.3s ease-in-out;
}

@keyframes open { 0% {   opacity: 0; } 100% {   opacity: 1; }
}
details summary::-webkit-details-marker { display: none;
}

details summary { width: 100%; padding: 0.5rem 0; border-top: 1px solid black; position: relative; cursor: pointer; font-size: 1.25rem; font-weight: 300; list-style: none;
}

details summary:after { content: "+"; color:#e75253; position: absolute; font-size: 1.75rem; line-height: 0; margin: -16px 10px; right: 0; font-weight: bold; transform-origin: center; transition: 200ms linear;
}
details[open] summary:after { transform: rotate(45deg); font-size: 2rem;
}
details {  margin: 0 0 1rem;
}

/* details summary { outline: 0;
}
 */

/*top button css start */
#scroll { display: none; position: fixed; bottom: 20px; right: 30px; z-index: 99; font-size: 18px; border: none; outline: none; background-color:#1fb2dc;border: 2px solid white; color: white; cursor: pointer; padding: 5px; border-radius: 20px;  }
#scroll:hover { background-color: #555; }




